<!DOCTYPE html>
<html>
  <head>
    <title>RTC</title>
  </head>
  <body>
    <h1>Let's Chat</h1>

    <form id="form">
      <input type="text" name="message" />
    </form>

    <div id="messages"></div>

    <script>
      const socket = new WebSocket(
        "ws://" + window.location.host + "/ws/somepath/"
      );

      socket.onmessage = function (event) {
        // Corrected 'omessage' to 'onmessage'
        const data = JSON.parse(event.data);
        console.log(data.message);

        if (data.type === "chat") {
          let message = document.getElementById("messages");

          message.insertAdjacentHTML('beforeend', `<div>
                    <p>${data.message}</p>
          </div>`)
        }
      };

      let form = document.getElementById("form");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        let messages = event.target.message.value;
        socket.send(
          JSON.stringify({
            'message': messages,
          })
        );
        form.reset();
      });
    </script>
  </body>
</html>
